.text-accent {
    color: #3669C9;
}

.text-dark {
    color: #1A1E26
}

//////////////////

//Centre an element//

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid red;
}
